@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

html{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;

}
.container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.header{
  background: rgb(0, 3, 1);
  width: 100%;
  text-align: center;
  color:white;
  margin-bottom: 20px;
}
.main-wrap{
    height: 800px;
    width: 800px;
    background: rgb(0, 19, 0);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:10px;
    

}
.box{
    background: rgb(255, 255, 255);
    width: 260px;
    height: 260px;
    
   
}

.box-active{
    width: 260px;
    height: 260px;
    position: absolute;
    background: red;
   
   

}
.box-active::before{
    content: '';
    position: absolute;
    top:35px;
    left:115px;
    width: 30px;
    height: 200px;
    background: green;
    z-index: 200;
    transform:skewX(45deg);
}
.box-active::after{
    content:'';
    position: absolute;
    top:35px;
    left:115px;
    width: 30px;
    height: 200px;
    background: green;
    z-index: 200;
    transform:skewX(-45deg);
}
.box-active2{
    width: 260px;
    height: 260px;
    position: absolute;
    background: rgb(34, 20, 158);
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.box-active2::before{
    content:'';
    width: 200px;
    height: 200px;
    position: absolute;
    background: rgb(244, 244, 245);
    border-radius:50%;
   

}