
 @import url('https://fonts.googleapis.com/css?family=Pacifico');
 html {
    box-sizing: border-box;
    background:#ffc600;
    font-size: 20px;
    font-weight: 400;
  }

body{
    margin: 0;
    padding: 0;
}

.panels{

overflow: hidden;
display: flex;
height: 100vh;
  
}
.panel{
    flex:1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0 0 0 5px rgba(255,255,255,0.1);
    transition:
    font-size .7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex .7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    color:white;
    flex-direction: column;
  font-size: 20px;
  background-size:cover;
  background-position:center;
  cursor: pointer;
   
}




.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > * {
    margin:0;
    width: 100%;
    transition:transform 0.5s;
    flex:1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 
}
.panel > *:first-child{
    transform: translateY(-100%);

}
.panel.open-active > *:first-child{
    transform: translateY(0%);

}
.panel > *:last-child{
    transform: translateY(100%);
}
.panel.open-active > *:last-child{
    transform: translateY(0%);
}
.panel p{
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size:2em;
    text-shadow:0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    
}
.panel.open{
    flex:5;
    font-size:40px;
}