@import url("https://fonts.googleapis.com/css?family=Roboto:300");

html {
  box-sizing: border-box;
  background: #b7e9e1;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.menu > ol >.menu-item > a{
    color:red;

    
}
.menu > ol{
    display: flex;
    list-style-type: none;
   
}
.menu > ol > li > a{
   
    text-decoration: none;
}
.menu > ol > li {
    flex:1;
}
.sub-menu{
    list-style-type: none;
}
.sub-menu > li > a{
    text-decoration: none;
}
.sub-menu{
    padding: 0;
}