.wrap{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
  
}
.main{
    display:flex;
    flex-direction: column;
    width:500px;
    height:650px;
    background:#303036;
    padding:0 20px 20px 20px;
    color:#30BCED;
    border-radius:15px;
 
}
.main h1{
    text-align: center;
    padding:25px 0;
    margin: 0;
    color:#FC5130;
}
#area-text, #voice-list, input{
    background:#FFFAFF;
    border-radius:5px;
    padding-top: 5px;
    color:#050401;
    font-size:1.1em;
}
#voice-list{
    height: 50px;
    
}
#area-text{
    padding:5px;
}
.btn{
    width:45%;
    height: 50px;
    background:#050401;
    color:#FC5130;
    border:none;
    border-radius:5px;
    cursor: pointer;

}
.btn-start{
    margin-right:9%;
}
